<h1>Work Items do Azure DevOps</h1>

<p *ngIf="!workItems"><em>Carregando...</em></p>

<form class="form-inline">
  <h5>Filtros:</h5>
  <div class="form-group mx-sm-3 mb-2">
    <input type="text" class="form-control" placeholder="Tipo de Work Item" (keyup)="onFilter($event)" />
  </div>
</form>

<table class='table table-striped'  *ngIf="workItems">
  <thead>
    <tr>
      <th>ID</th>
      <th>Tipo</th>
      <th>Título</th>
      <th (click)="orderBy()">Criado em <span style="cursor:pointer" class="badge badge-dark" title="Clique para ordernar">ߡ ߜ</span></th>
    </tr>
  </thead>
  <tbody>
    <tr *ngFor="let workItem of workItems">
      <td>{{ workItem.id }}</td>
      <td>{{ workItem.type }}</td>
      <td>{{ workItem.title }}</td>
      <td>{{ workItem.createdOn | date: 'dd/MM/yyyy'}}</td>
    </tr>
  </tbody>
</table>
